.cat-container {
  border: 2px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}
.cat-container img {
  width: 75%;
}
